{%extends 'base.html'%}
{%load static%}
{% block content %}
{{block.super}}
<div class="container">
    <div class="content">
        <div class="carousel">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="https://placeimg.com/1000/450/arch/sepia" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                    <img src="https://placeimg.com/1000/450/nature/sepia" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                    <img src="https://placeimg.com/1000/450/tech/sepia" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="section about text-center">
            <h5><b>Welcome to our gallery</b></h5>
            <p>Our images are nature-driven and express the passion of the photographer.</p>
            <p>Please enjoy!</p>
        </div>
        <div class="pics">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h5>Locations</h5>
                        <nav class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                        </nav>
                    </div>
                    <div class="col-md-9">
                        <a href="#exampleModalCenter" data-toggle="modal"><img class="img-fluid img-thumbnail gallery-pic"  data-target="" src="https://www.medicalnewstoday.com/content/images/articles/325/325466/man-walking-dog.jpg" alt=""></a>
                        <a href="#exampleModalCenter" data-toggle="modal"><img class="img-fluid img-thumbnail gallery-pic" src="https://cdn.pixabay.com/photo/2015/06/19/21/24/the-road-815297__340.jpg" alt=""></a>
                        <a href="#exampleModalCenter" data-toggle="modal"><img class="img-fluid img-thumbnail gallery-pic" src="https://cdn.pixabay.com/photo/2017/12/17/19/08/away-3024773_960_720.jpg" alt=""></a>
                        <a href="#exampleModalCenter" data-toggle="modal"><img class="img-fluid img-thumbnail gallery-pic" src="https://images.newscientist.com/wp-content/uploads/2019/06/13111643/gettyimages-485057010.jpg" alt=""></a>
                        
                            {% for image in images %}
        
                            <a href="#{{image.name}}" data-toggle="modal"><img class="img-fluid img-thumbnail gallery-pic" src="{{image.image.url}}" alt=""></a>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="{{image.name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                        <img class="modal-image" src="{{image.image.url}}" alt="">
                                        </div>
                                        <div class="modal-footer">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <i class="fas fa-map-marker-alt"></i> {{image.description}}
                                                    </div>
                                                    <div class="col">
                                                        <i class="fas fa-stopwatch"></i> {{image.timestamp}}
                                                    </div>
                                                    <div class="col float-right">
                                                    22 <i class="far fa-thumbs-up"></i> | 
                                                        <i class="far fa-thumbs-down"></i> 9
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        
                            {% empty %}
                            <div class="row">
                            <h2 class="text-center">There are no images to display</h2>
                            </div>
                            {% endfor %}
                    </div>

                    <!-- Button trigger modal -->
                            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Launch demo modal
                        </button> -->
      
      
                </div>
            </div>
        </div>
        <div class="footer">
            <nav class="navbar navbar-light" style="background-color: #D8DAD3;">
            <div class="container">
                <div class="row text-center footr">
                    <div class="col one">
                        <h5><b>About gallery</b></h5>
                        <p>Welcome to my gallery where the pictures are always about passion with nature. The photographers'
                        energy can always be felt in the warmth of the images.</p>
                        <p>You can search for image categories and you can contact us via our social media contacts</p>
                        <p>Please enjoy</p>
                    </div>
                    <div class="col three">
                        <h5><b>Reach us</b></h5>
                        <p>Ngong Lane Plaza, next to Double Tree by Hilton</p>
                        <p>Phone: 0723 346-169</p>
                        <p>Email: magicgallery@gmail.com</p>
                        <p>Web: www.magicgallery.com</p>
                    </div>
                    <div class="col two">
                        <h5><b>Social</b></h5>
                        <span class="iconz">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-google"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </span>
                    </div>
                </div>
            </div>
            </nav>
        </div>
    </div>
</div>
{%endblock%}